@model IEnumerable<Hack.Model.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a>
                @if (item.Status.ToString() == "AUTO")
                {
                    <a asp-action="Delete" asp-route-id="@item.TransactionID">Cancel</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="https://checkout.sandbox.splitit.com/Popup/v1/pf-embedded.js"></script>

<script src="lib\jquery\dist\jquery.js"></script>
<script src="~\lib\jquery\dist\jquery.min.js"></script>


@section Scripts{
    <script src="~\js\site.js" asp-append-version="true"></script>


}


